<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
   <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        
        {{>sliderbar}}
        <div class="main">
            <div class="infocontainer">
                <div class="devInfo">
                    <div class="hello">Hey I am </div>
                    <div class="name">Suraj Kushwaha</div>
                    <div class="about">Developer, Enterprenuer, Programmer</div>
                    <div class="moreabout">Inquisitive , energetic computer science specialist skilled in leadership , with a strong foundation in math , logic and
                        cross-platform coding.</div>
                    <div class="button">
                        <a href="Resume/Suraj's Resume (1).pdf" download="Suraj's Resume (1).pdf"><button>Download CV</button></a>
                        <a href="/contact"><button>Contact me </button></a>
                    </div>
                </div>
                <div class="devPic">
                    <img src="image/picc.png" alt="Suraj Kushwaha">
                </div>
            </div>
        </div>
    </div>
</body>

</html>