<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="/css/resume.css">
    <style>
        .slidebar {

            height: auto;

        }
    </style>
</head>
<body>
    <div class="container">
       {{>sliderbar}}
        <div class="main">
            <div class="title">
                <h1>Curriculum Vitae</h1>
            </div>
            <div class="btn">
              <a href="/Resume/Suraj's Resume (1).pdf" download="/Resume/Suraj's Resume (1).pdf"> <button>Download CV</button></a> 
            </div>
           <div class="semain">
            
            <img src="/image/resume.jpg" width="800px" alt="Suraj Resume">
           </div>
        </div>
    </div>
</body>
</html>