.main {
    /* background-color: yellow; */
    width: 90vw;
    /* background-color: rgb(242, 248, 252); */
    background-color: rgb(233, 244, 253);
}

.formheading {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px 0; */
    margin: 20px 0;
    margin-right: 20px;
}

.formheading h1 {
    font-size: 40px;
    /* font-family: 'League Spartan', sans-serif;  */
    /* font-family: Lora, serif; */
    /* font-family: 'Source Code Pro', monospace; */
}

.subconatainer {
    width: auto;
    /* height: 85vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: red; */

}

.projectbox {
    width: 82vw;
    height: 46vh;
    margin: 10px 0;
    margin-left: 20px;
    display: flex;
    /* justify-content: space-around; */
    /* background-color: aqua; */
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 5px 3px rgb(209, 204, 204), -5px -5px 3px #f7ebcd;

    /* background: #f1ecec; */
    background: #fcfafa;

    outline: none;
}


.box1 img {
    width: 35vw;
    height: 45vh;
    margin: 8px 30px;

}

.mainbox {
    width: 40vw;
    height: 45vh;
    margin: 0 20px;

}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.box2 h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    /* font-family: 'League Spartan', sans-serif; 
    font-family: Lora, serif; */
}

.box3 {
    width: 35vw;
    margin-bottom: 10px;
}

.box4 h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}

.box5 {
    padding-left: 110px;
    margin-bottom: 20px;
}

.box6 {
    display: flex;
    /* justify-content: space-around; */

}

button {
    width: 12vw;
    /* float: right; */
    margin-right: 18px;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 5px;
    color: black;
    background-color: dodgerblue;
    border: 0.5px solid black;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover {

    background-color: white;
    color: dodgerblue;

}

@media screen and (max-width: 1100px) {
    .slidebar {
        width: 100px;
    }

    .slidebar nav {
        /* padding: 30px; */
        margin: 0px;
    }

    .slidebar nav li {
        list-style: none;
        font-size: 20px;
        padding: 20px 10px;
        margin-top: 10px;
    }


}

@media screen and (max-width: 875px) {
    .projectbox {

        height: auto;

    }

    .mainbox {

        height: auto;


    }
}

@media screen and (max-width: 750px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .slidebar {
        width: auto;
        height: auto
    }

    .slidebar ul {
        display: flex;
        flex-direction: row;
    }

    .main {
        width: auto;
    }

    .subcontainer {
        width: auto;
    }

    .projectbox {
        width: 95vw;
        margin-right: 15px;
    }

    .mainbox {
        width: 55vw;
    }


}

@media screen and (max-width: 680px) {


    .slidebar nav li {

        font-size: 15px;
        padding: 10px 15px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 580px) {

    .projectbox {

        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1 img {
        width: 53vw;
        height: 26vh;

    }

    .mainbox {
        width: 90vw;
    }

    .box3 {
        width: 75vw;
    }

    button {
        width: 22vw;
    }

}

@media screen and (max-width: 450px) {



    .slidebar nav li {

        font-size: 10px;
        padding: 10px 7px;
        margin-top: 10px;
    }

}